<x-item class="border m-1 align-top">
	<button type="button" class="close delete" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="d-block text-center">
		<div class="position-relative image-wrapper d-inline-block">
			<input type="file" class="position-absolute d-inline-block image-selector" accept="image/*" />
			<img class="thumbnail border" />
		</div>
	</div>
	<div class="description-wrapper text-center mt-1 mb-1">
		<span class="description-label"></span>
		<form class="description-textbox-wrapper"></form>
	</div>
</x-item>