x-file-drop-area {
	border-style: dashed;
	border-width: 1px;
	position:relative;
	
	// Background icon (open box)
	.box {
		opacity: 0.4;
		font-size: 3em;
		position: absolute;
		right: 0px;
		bottom: 0;
		height: 100px;
	}
}
