<x-persistence-monitor>
	<div class="status loading-wrapper text-secondary bg-light border border-secondary p-2">
		<i class="fas fa-spinner fa-spin fa-10x"></i>
		<span class="text">Saving data...</span>
	</div>
	<div class="status error-wrapper text-white bg-danger border border-danger p-2">
		<i class="fas fa-exclamation-triangle"></i>
		<span class="text">There was an error saving the data (click to close this message).</span>
	</div>
	<div class="status success-wrapper text-white bg-success border border-success p-2">
		<i class="fas fa-check"></i>
		<span class="text">All changes were saved.</span>
	</div>
</x-persistence-monitor>
